<template>
  <div>
    <h1>User Login</h1>
    <form @submit.prevent="loginUser">
      <label for="email">Email:</label>
      <input type="email" id="email" v-model="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" v-model="password" required>
      <button type="submit">Login</button>
    </form>
    <li><router-link to="/RegisterItems">Registrar</router-link></li>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import UserService from '@/services/AuthService';
import { useRouter } from 'vue-router';

const email = ref('');
const password = ref('');
const router = useRouter();

async function loginUser() {
  try {
    const response = await UserService.loginUser(email.value, password.value);

    if (response && response.id_usuario && response.Nombre && response.tipo) {
      sessionStorage.setItem('userId', response.id_usuario.toString());
      sessionStorage.setItem('userName', response.Nombre);
      sessionStorage.setItem('tipo', response.tipo);
      
      email.value = '';
      password.value = '';
      window.alert(`Bienvenido, ${response.Nombre}!`);
      
      if(response.tipo === 1) {
        router.replace({ name: 'GpagosView', params: { id: response.id_usuario } });
      } else {
        router.replace({ name: 'VistaUser', params: { id: response.id_usuario } });
      }
    } else {
      throw new Error('Respuesta del servidor incompleta');
    }
  } catch (error) {
    console.error('Error al iniciar sesión:', error);

    if (error && error.message) {
      if (error.message === 'Contraseña incorrecta') {
        window.alert('Usuario o contraseña incorrectos. Por favor, inténtalo de nuevo.');
      } else {
        window.alert(`Error: ${error.message}`);
      }
    } else {
      window.alert('Error al iniciar sesión. Por favor, inténtalo de nuevo más tarde.');
    }
  }
}
</script>
