<template>
    <div>
        <h1> Bienvenido {{ userData.email }}</h1>
        <nav>
            <ul v-if="tipo === '2'">
                <li><router-link to="/Tpagos">Tpagos</router-link></li>
                <li><router-link to="/VistaUser">Configuracion</router-link></li>
                <li><router-link to="/salir">Salir</router-link></li>
            </ul>
            <ul v-else>
                <li><router-link to="/GpagosView"> generar pagos </router-link></li>
                <li><router-link to="/salir">Salir</router-link></li>
            </ul>
        </nav>
    </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import UserService from '@/services/AuthService';

// Obtener el ID del usuario y tipo
const userId = sessionStorage.getItem('userId');
const tipo = sessionStorage.getItem('tipo');

const userData = ref({}); // Para almacenar los datos del usuario

onMounted(async () => {
    try {
        if (userId) {
            const response = await UserService.getUserById(userId);
            
            if (response) {
                userData.value = response;
            } else {
                throw new Error('Error al obtener los datos del usuario');
            }
        }
    } catch (error) {
        console.error('Error al obtener los datos del usuario:', error);
    }
});
</script>

<style>
/* Estilos del menú */
</style>
