<template>
    <div>
      <h1>Cerrar sesión</h1>
      <button @click="logout">Cerrar sesión</button>
    </div>
  </template>
  
  <script setup lang="ts">
  import { ref } from 'vue';
  import { useRouter } from 'vue-router';
  
  const router = useRouter();
  
  function logout() {
    // Eliminar datos de la sesión
    sessionStorage.removeItem('userId');
    sessionStorage.removeItem('userName');
    // Puedes agregar más datos si los necesitas
    // Redirigir al usuario a la página de inicio o a donde prefieras
    router.push({ name: 'Login' }); // Asume que tienes una ruta llamada 'Home'
  }
  </script>
  