<template>
    <div>
        <h1>{{ userData.Nombre }}</h1>
        <h1>{{ userData.email }}</h1>
    </div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import UserService from '@/services/AuthService';

// Obtener el ID del usuario
const userId = sessionStorage.getItem('userId');

const userData = ref({}); // Para almacenar los datos del usuario


onMounted(async () => {
    try {
        if (userId) {
            const response = await UserService.getUserById(userId);
            
            if (response) {
                userData.value = response;
            } else {
                throw new Error('Error al obtener los datos del usuario');
            }
        }
    } catch (error) {
        console.error('Error al obtener los datos del usuario:', error);
    }
});
</script>

<style scoped>
/* Estilos para tu componente */
</style>
