<template>
  <div id="app">
    <header>
      <MainMenu v-if="isLoggedIn" />
    </header>

    <!-- Mostrar el menú solo si el usuario ha iniciado sesión -->
    <main>
      <router-view></router-view>
    </main>

    <footer>
      <!-- Aquí puedes agregar un pie de página común para todas las vistas si lo necesitas -->
    </footer>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import MainMenu from '@/components/MainMenu.vue';

const router = useRouter();
const isLoggedIn = ref(false); // Asume que inicialmente el usuario no está logueado

// Escuchar el cambio de ruta para determinar si el usuario está en una vista protegida
router.afterEach((to) => {
  isLoggedIn.value = to.meta.requiresAuth ? true : false;
});
</script>

<style>
/* Estilos globales si es necesario */
</style>
